@import "tailwindcss";

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@utility animate-fadeOut {
	animation: fadeOut 0.75s ease-in-out forwards;
}

@utility animate-fadeIn {
	animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes extend {
	from {
		height: 120px;
	}
	to {
		height: 300px;
	}
}

@utility animate-extend {
    animation: extend 0.45s ease-in-out forwards;
}